
<div class="signup">
    <h4>Welcome! Sign-up here</h4>
    <%= form_for :user, url: users_new_path do |f|%>
    <!-- <%= f.label :username%><br> -->
    <%= f.text_field :name, placeholder:"username"%><br>
    <!-- <%= f.label :password%><br> -->
    <%= f.email_field :email, placeholder: "email"%><br>
    <%= f.password_field :password, placeholder: "password"%><br>
    <p></p>
    <%= f.submit :signup %>
    <%end%>
</div>
<br>
<br>

<div class = "Error-message">
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message|%>
            <li><%=message%></li>
        <%end%>
    <%end%>
</div>
<!-- <p><%=@user%></p> -->
